@media screen and (max-width: 590px) {
  .header {
    padding-top: 28px;
    border-bottom: 1px solid rgb(84 84 84 / 0.7);
    height: 42px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
    padding-bottom: 32px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__add-button {
    margin: 0 0 6px;
    width: 282px;
    border-width: 2px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 22px;
    margin: 30px 10px 0 0;
  }

  .profile__description {
    font-size: 14px;
    line-height: 14px;
    margin: 14px 0 36px;
    width: 100%;
    text-align: center;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    align-self: end;
  }

  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 36px;
  }
}
